a.button {
	-webkit-appearance: button;
   -moz-appearance: button;
   appearance: button;
	border: 3px dashed green;
   text-decoration: none;
   color: initial;
   margin-left: 10px;
   margin-right: 10px; 
	padding: 5px;
}
a.button:hover{
	border: 3px solid green;
	background: purple;
	opacity: 70%
}
.standard{
	text-align: center;
	margin: auto;
   width: 50%;
   border: 3px solid green;
   padding: 10px;
}

li{
	font-size: 75%;
	font-weight: normal;
	text-align: left;
}

ul{
	font-size: 115%;
	font-weight: bold;
	text-align: left;
}